---
import Breadcums from "@components/Breadcumbs.astro";
import Layout from "@layouts/Layout.astro";
import AsktButton from "@components/AsktButton.astro";
import SiloDescription from "@components/SiloDescription.astro";
import SiloDescriptionWithOptions from "@components/SiloDescriptionWithOptions.astro";
import { formatPrices, getSiloData } from "@helpers/formatData";
import { Picture } from "astro:assets";

const { name } = Astro.params;

if (!name) return;
const siloData = await getSiloData(name);
const silo = siloData.silo;
const preferences = siloData.preferences;
const price = siloData.price;
---

<Layout
  title={`Remeco - Silo de ${silo?.name}`}
  description={`Remeco - Silo ${silo?.silo_type === "aereos" ? "base aérea" : "comedero autoconsumo"} de ${silo?.name.replace("tn".toLocaleLowerCase(), " Toneladas")}. Envíos a todo el país. Opciones de financiación. Servicio pre y post venta`}>
  {
    silo ? (
      <>
        <Breadcums
          base="Silos"
          baseLink="/silos"
          type={
            silo.silo_type === "aereos" ? "base aérea" : "comederos autoconsumo"
          }
          typeLink={`/silos/${silo.silo_type}`}
        />
        <main class="p-4 lg:p-16 md:p-12 w-full">
          <section class="w-full flex md:flex-row flex-col lg:gap-8 gap-4">
            <div class="rounded md:w-1/2">
              <Picture
                src={silo.image_url}
                alt={silo.name}
                width={800}
                height={800}
                layout="constrained"
                fit="cover"
                class="rounded shadow-md w-full  object-cover"
                formats={["avif", "webp"]}
                loading="eager"
              />
            </div>

            <aside class="md:w-1/2 p-4">
              <h2 class="mb-4 text-slate-800">{`Silo ${silo.silo_type === "aereos" ? "base aérea" : "comedero autoconsumo"} de ${silo.name.replace("tn".toLocaleLowerCase(), " Toneladas")}`}</h2>
              {preferences?.iva_percentage && (
                <>
                  {silo.has_options ? (
                    <SiloDescriptionWithOptions
                      options={silo.options}
                      cone_base_45={preferences.cone_base_45}
                      cone_base_55={preferences.cone_base_55}
                      description={silo.description}
                      iva_percentage={preferences.iva_percentage}
                      price={price ?? 0}
                    />
                  ) : (
                    <SiloDescription
                      description={silo.description}
                      iva_percentage={preferences.iva_percentage}
                      price={formatPrices(price ?? 0)}
                    />
                  )}
                </>
              )}
              <div class="mt-8 w-full flex justify-center px-8">
                <AsktButton
                  style="primary"
                  silo={`Silo ${silo.silo_type === "aereos" ? "base aérea" : "comedero autoconsumo"} de ${silo.name.replace("tn".toLocaleLowerCase(), " Toneladas")}`}
                />
              </div>
            </aside>
          </section>
        </main>
      </>
    ) : (
      <p class="text-center text-gray-500 py-16">Silo no encontrado.</p>
    )
  }
</Layout>
