---
interface Props {
  silo: string;
  style?: "primary" | "secondary";
}

const { silo, style } = Astro.props;

const baseClasses =
  "border px-4 py-2 border-slate-800 rounded w-full text-center";
const styleClasses =
  style === "primary"
    ? "bg-slate-800 text-white hover:bg-white hover:text-slate-800 "
    : "bg-white text-slate-800 hover:bg-slate-800 hover:text-white transition tra";
---

<button
  data-silo={silo}
  title="Chatear por Whatsapp"
  id="chat_with_us"
  class={`${baseClasses} ${styleClasses} transition-all delay-75 self-start cursor-pointer`}>
  Hablar con un asesor
</button>

<script>
  import { config } from "@config/config";
  import { pushGtmEvent } from "@helpers/gtmEvents";

  document.addEventListener("astro:page-load", () => {
    const btn = document.getElementById("chat_with_us") as HTMLButtonElement;
    const whatsappNumber = config.wa_number;
    const silo = btn.dataset.silo;

    btn.addEventListener("click", () => {
      pushGtmEvent("asesor_click", { silo });
    });

    btn.addEventListener("click", () => {
      window.open(
        `https://wa.me/${whatsappNumber}?text=Hola, me contacto a través del sitio web de Silos. Estoy interesado en un ${silo}s`,
        "_blank"
      );
    });
  });
</script>
