---
import ArrowFoward from "@assets/svg/ArrowFoward.astro";
import { Image } from "astro:assets";
import { formatPrices, getSiloData } from "@helpers/formatData";

interface Props {
  imageSrc: string[];
  alt: string;
  title: string;
  imgWidth: number;
  imgHeight: number;
  link: string;
  name: string;
  type: string;
  index: number;
}

const { imageSrc, alt, title, imgHeight, imgWidth, link, name, type, index } =
  Astro.props;

const siloData = await getSiloData(name);
const formattedPrice = formatPrices(siloData.price ?? 0);

const formatTitle = (name: string, type: string) => {
  if (type !== "comederos") {
    return name;
  }

  const title = name.replace("al medio", "");

  return title;
};
---

<article
  class="flex flex-col bg-slate-900 rounded-sm overflow-hidden shadow-md hover:shadow-lg transition-shadow duration-300 h-[350px]">
  <!-- Imagen Desktop -->
  <a
    title={title}
    href={link}
    class="flex-shrink-1 h-[250px] w-full hidden md:block">
    <Image
      src={imageSrc[0]}
      alt={alt}
      width={imgWidth}
      height={imgHeight}
      class="w-full h-full object-cover object-center"
      loading={index < 6 ? "eager" : "lazy"}
      decoding="async"
    />
  </a>

  <!-- Imagen Mobile -->
  <a
    title={title}
    href={link}
    class="flex-shrink-1 h-[250px] w-full block md:hidden">
    <Image
      src={imageSrc[1] || imageSrc[0]}
      alt={alt}
      width={imgWidth}
      height={imgHeight}
      class="w-full h-full object-cover object-center"
      loading={index < 6 ? "eager" : "lazy"}
      decoding="async"
    />
  </a>

  <!-- Contenido inferior -->
  <a
    title={title}
    href={link}>
    <aside
      class="flex justify-between items-center bg-slate-900 flex-grow p-2 md:p-4 cursor-pointer">
      <div class="flex flex-col gap-0">
        <h3 class="text-gray-100 text-base md:text-lg font-semibold">
          {formatTitle(title, type)}
        </h3>
        <h4 class="text-white text-sm! md:text-base! lg:text-lg!">
          {siloData.silo?.silo_type === "aereos" ? "Desde " : ""}{
            formattedPrice
          }
        </h4>
      </div>
      <div
        class="flex items-center justify-center bg-slate-800 hover:bg-slate-700 rounded-full p-2 transition-all duration-200">
        <ArrowFoward color="white" />
      </div>
    </aside>
  </a>
</article>
