---
import { Image } from "astro:assets";
import ArrowFoward from "@assets/svg/ArrowFoward.astro";

interface Props {
  imageSrc: string | ImageMetadata;
  alt: string;
  title: string;
  imgWidth: number;
  imgHeight: number;
  link: string;
  layout?: "constrained" | "full-width" | "fixed" | "none";
}

const {
  imageSrc,
  alt,
  title,
  imgHeight,
  imgWidth,
  layout = "constrained",
  link,
} = Astro.props;
---

<article
  class="flex flex-col bg-slate-900 rounded-sm overflow-hidden shadow-md hover:shadow-lg transition-shadow duration-300 h-[350px]">
  <!-- Imagen -->
  <a
    title={title}
    href={link}
    class="flex-shrink-1 h-[250px] w-full">
    {
      typeof imageSrc === "string" ? (
        <Image
          src={imageSrc}
          alt={alt}
          width={imgWidth}
          height={imgHeight}
          layout={layout}
          class="w-full h-full object-cover object-center"
          fit="cover"
        />
      ) : (
        <Image
          src={imageSrc}
          alt={alt}
          width={imgWidth}
          height={imgHeight}
          layout={layout}
          class="w-full h-full object-cover object-center"
          fit="cover"
        />
      )
    }
  </a>

  <!-- Contenido inferior -->
  <aside class="flex justify-between items-center bg-slate-900 flex-grow p-4">
    <h3 class="text-gray-100 text-lg font-semibold">{title}</h3>
    <a
      title={title}
      href={link}
      class="flex items-center justify-center bg-slate-800 hover:bg-slate-700 rounded-full p-2 transition-all duration-200">
      <ArrowFoward color="white" />
    </a>
  </aside>
</article>
