---
import { formatPrices } from "@helpers/formatData";
import StringToList from "./StringToList.astro";
import SiloPrice from "./SiloPrice.astro";

interface Props {
  description: string;
  price: number;
  iva_percentage: number;
  options: Record<string, string>;
  cone_base_45: number;
  cone_base_55: number;
}

const {
  description,
  iva_percentage,
  price,
  options,
  cone_base_45,
  cone_base_55,
} = Astro.props;

const mappedOptions = Object.entries(options).map(([angle, detail]) => {
  const title = `Cono ${angle}°`;
  const newDescription = `${description}, ${detail}`;
  let newPrice = price;

  if (angle === "45") newPrice = price * (1 + cone_base_45 / 100);
  else if (angle === "55") newPrice = price * (1 + cone_base_55 / 100);

  return {
    title,
    description: newDescription,
    price: formatPrices(newPrice),
  };
});

---
{
  mappedOptions.map((silo)=>(
    <div class="mb-2">
      <p class="mb-2 font-bold text-slate-900 text-xl">Características {silo.title}:</p>
      <StringToList inputString={silo.description} />
    </div>
    <SiloPrice   
      iva_percentage={iva_percentage}
      price={silo.price}/>
))
}

