---
import type { Silo } from "../types/types";
import GridCard from "./GridCard.astro";

interface Props {
  silos: Silo[];
}

const { silos } = Astro.props;
---

<main class="p-4 lg:p-16 md:p-12 w-full">
  <section class="grid grid-cols-2 md:grid-cols-3 lg:gap-12 gap-6">
    {
      Array.isArray(silos) && silos.length > 0 ? (
        silos.map((silo, index) => (
          <GridCard
            imageSrc={[silo.image_url, silo.image_url_sm]}
            alt={silo.name}
            title={`Silo ${silo.name}`}
            name={silo.name}
            imgWidth={500}
            imgHeight={500}
            link={`/silos/${silo.silo_type}/${silo.name}`}
            type={silo.silo_type}
            index={index}
          />
        ))
      ) : (
        <p>No hay silos disponibles.</p>
      )
    }
  </section>
</main>
